version: 2
workflows:
  version: 2
  build:
    jobs:
      - build_and_test_client

      - deploy_to_firebase:
          requires:
            - build_and_test_client
          # filters:
          #   branches:
          #     only:
          #       - master

jobs:
  build_and_test_client:
    working_directory: ~/ccbc/client
    docker:
      - image: circleci/node:10.15.1
        environment:
          TZ: Europe/London
    steps:
      - checkout:
          path: ~/ccbc
      - run:
          name: Installations 
          command: |
            npm ci
      - run:
          name: Run Tests
          command: npm run test
      - run:
          name: Build Client
          command: npm run build
      - persist_to_workspace:
          root: ~/
          paths:
            - ccbc

  deploy_to_firebase:
    working_directory: ~/ccbc/
    docker:
      - image: circleci/node:10.15.1
    steps:
      - attach_workspace:
          at: .
      - run: 
          name: Deploy to firebase
          command: | 
            npx firebase deploy --only hosting --token "$FIREBASE_TOKEN"