version: 2
workflows:
  version: 2
  build:
    jobs:
      - build_and_test_client
      - deploy_to_firebase_hosting:
          requires:
            - build_and_test_client
          # filters:
          #   branches:
          #     only:
          #       - master
          
      - install_function_dependencies
      - deploy_to_firebase_functions:
          requires:
            - install_function_dependencies
          # filters:
          #   branches:
          #     only:
          #       - master

jobs:
  build_and_test_client:
    working_directory: ~/ccbc/client
    docker:
      - image: circleci/node:10.15.1
        environment:
          TZ: Europe/London
    steps:
      - checkout:
          path: ~/ccbc
      - run:
          name: Installations 
          command: |
            npm ci
            echo ${git log --format=oneline -n 1 $CIRCLE_SHA1}
      - run:
          name: Run Tests
          command: npm run test
      - run:
          name: Run Linter
          command: npm run lint
      - run:
          name: Build Client
          command: npm run build
      - persist_to_workspace:
          root: ~/
          paths:
            - ccbc/client

  deploy_to_firebase_hosting:
    working_directory: ~/ccbc/client
    docker:
      - image: circleci/node:10.15.1
    steps:
      - attach_workspace:
          at: ~/
      - run: 
          name: Deploy to firebase
          command: | 
            npx firebase deploy --only hosting --token "$FIREBASE_TOKEN" 

  install_function_dependencies:
    working_directory: ~/ccbc/functions
    docker:
      - image: circleci/node:10.15.1
        environment:
          TZ: Europe/London
    steps:
      - checkout:
          path: ~/ccbc
      - run:
          name: Installations 
          command: |
            npm ci
      - persist_to_workspace:
          root: ~/
          paths:
            - ccbc/

  deploy_to_firebase_functions:
    working_directory: ~/ccbc/functions
    docker:
      - image: circleci/node:10.15.1
    steps:
      - attach_workspace:
          at: ~/
      - run: 
          name: Deploy to firebase
          command: | 
            npx firebase deploy --only functions --token "$FIREBASE_TOKEN" 